<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="padding:30px">
        <button> <a href="{% url 'FPS_signup' %}">Signup - FPS</a> </button>
    </div>
    <div style="padding:30px">
        <button> <a href="{% url 'Customer_signup' %}">Signup - Customer</a> </button>
    </div>
    <div style="padding:30px">
        <button> <a href="{% url 'login' %}">Login</a> </button>
    </div>
    
</body>
</html>